<p>create-concert-form works!</p>
<form class="col-4 mb-5">
  <div class="form-group">
    <label for="add-artist">Artiste</label>
    <input type="text" class="form-control" id="add-artist" placeholder="Entrez le nom de l'artiste">
  </div>
  <div class="form-group">
    <label for="add-style">Style</label>
    <input type="text" class="form-control" id="add-style" placeholder="Entrez le style de musique">
  </div>
  <div class="form-group">
    <label for="add-date">Date</label>
    <input type="date" class="form-control" id="add-date">
  </div>
  <div class="form-group">
    <label for="add-lenght">Durée</label>
    <input type="text" class="form-control" id="add-lenght" placeholder="Entrez la durée du concert">
  </div>

  <input type="button" (click)="createConcert()" value="créer concert">

</form>
