<html>
<body>

<div *ngFor="let festival of festivalsData">
  {{ festival.id }}
  {{ festival.address.longitude }}
  {{ festival.address.latitude }}
</div>

<div *ngFor="let concert of concertsData">
    {{ concert.artist }}
    {{ concert.duration }}
    {{ concert.style }}
    {{ concert.startTime }}
    <img src="{{ concert.photo.url }}"/>
</div>

<div>
  <input type="button" (click)="loadWeather(latFestival, lonFestival)" value="Afficher">
</div>
<div *ngIf="weatherDatas">
  <h2>Météo sur {{ weatherDatas.lat }}</h2>
  <div *ngFor="let meteo of weatherDatas">
    <img src="http://openweathermap.org/img/w/{{ weatherDatas.daily[0].weather[0].icon }}.png" alt="" style="float: left; margin-right: 30px;">
    <ul>
      <li>
        {{ weatherDatas.daily[0].weather[0].main }}
      </li>
      <li>
        {{ weatherDatas.daily[0].temp.day }}
      </li>
    </ul>
  </div>
</div>

</body>
</html>
