<html>
<body>

<div *ngFor="let concert of concertsData">
    {{ concert.artist }}
    {{ concert.duration }}
    {{ concert.style }}
    {{ concert.startTime }}
    <img src="{{ concert.photo.url }}"/>
</div>

<div>
  Afficher la météo d'une commune :
  <input type="text" [(ngModel)]="city" >
  <input type="submit" (click)="loadWeather()" value="Envoyer">
</div>
<div *ngIf="weatherDatas">
  <h2>Météo sur {{ weatherDatas.name }}</h2>
  <img src="http://openweathermap.org/img/w/{{ weatherDatas.weather[0].icon }}.png" alt="" style="float: left; margin-right: 30px;">
  <ul>
    <li>
      {{ weatherDatas.weather[0].main }}
    </li>
    <li>
      {{ weatherDatas.main.temp }}°
    </li>
  </ul>
</div>
  
</body>
</html>
